<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>tests</directory>
            <!-- <file>/path/to/MyTest.php</file> -->
            <!-- <exclude>/path/to/exclude</exclude> -->
        </testsuite>
    </testsuites>
</phpunit>
